<% 
  var session = session || {} 
  var user = session.user || null
  var sign = user.sign || "你还没有个性签名，点此修改哦？！"
  var position = '未知';
  switch (user.position) {
    case 'admin': 
      position = '管理员';
      break;
    case 'member':
      position = '正式会员';
      break;
  };

%>


<!DOCTYPE html>
<html>
<head>
  <%- include('head'); %>
  <link rel="stylesheet" href="/css/user.css">
</head>
<body>
  <%- include('header') %>
  <% if (user) { %>
    <div id='user'>
        <h2 class="user-head">用户中心</h2>
        <div class="user-body">
          <p>
            <span class="user-account"><%= user.account %></span>
            <span class="user-uid">uid: <span><%= user.uid %></span></span>
            <span class="user-position"><%= position %></span>
            <span class="user-btn" id="user-logoff">注销</span>
          </p>
          <p>注册时间： <span><%= new Date(user.registerTime).toLocaleString() %></span></p>
          <p>
            个性签名：
            <span id="user-sign-span"><%= sign %></span>
            <input id="user-sign-input" type="text" maxlength="30" value="<%= user.sign %>"/>
          </p>
          <p>
            性别：
            <select id="user-sex">
              <option <% if (user.msg.sex == "male") {%>   <%= 'selected' %> <% } %> value="male">男性</option>
              <option <% if (user.msg.sex == "female") {%> <%= 'selected' %> <% } %> value="female">女性</option>
              <option <% if (user.msg.sex == "other") {%>  <%= 'selected' %> <% } %> value="other">其它</option>
              <option <% if (user.msg.sex == "secret") {%> <%= 'selected' %> <% } %> value="secret">保密</option>
            </select>
          </p>
          <p class="user-location">
            所在地：
            <select id="user-pro">
              <option value="0">请选择省份</option>
            </select>
            <select id="user-city" style="display: none;">
              <option value="0">请选择城市</option>
            </select>
          </p>
          <p><button id="user-get-record">操作记录</button></p>
          <div id="user-record" style="display:none">
            <table>
              <tbody>
                <tr>
                  <td>url</td>
                  <td>method</td>
                  <td>param</td>
                  <td>time</td>
                  <td>res</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <script src="js/common/jquery-3.1.1.min.js"></script>
    <script src="js/common/tip.js"></script>
    <script src="data/province.js"></script>
    <script src="data/city.js"></script>
    <script src="js/user/user.js"></script>
  <% } else { %>
    <div>
      喵，你进入了一个神秘的领域。
    </div>
  <% } %>






</body>
</html>